<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>The Woodworking Joint</title>
</head>
<body>
    <div class="header-infinite">
        <div class="container-header-NEW">
            <div class="nav-NEW">
                <div class="nav-left-NEW">
                    <a href="/dashboard" class="nav-btn-NEW">View All Projects</a> |
                    <a href="/dashboard/myprojects" class="nav-btn-NEW">View My Projects</a>
                </div>
                <div class="nav-right-NEW">
                    <a href="/logout" class="nav-btn-NEW">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-NEW">
        <div class="container-hero">
            <img class="header-img-NEW" src="/static/img/woodworking-header.jpg" alt="Vintage woodworking tools">
            <h3 class="header-subhead">Welcome, {{user.username}}!</h3>
            <h1 class="header-headline">Browse the Woodworking Joint</h1>
            <div class="btn-hero-container">
                <a href="/new" class="btn btn-success btn-hero">Add a Project</a>
            </div>
        </div>

        <div class="container-body-NEW">
            <div class="col-auto">
                <div class="dash-box-container">
                    {%for woodproject in woodprojects%}
                        <div class="dash-box-box">
                            <p class="dash-box-title">{{ woodproject.project_name }}</p>
                            <a href="/woodproject/{{ woodproject.id }}">
                                <img class = "dash-box-img" src="/static/user_img/{{ woodproject.image_path }}">
                            </a>
                            <div class="dash-box-content">
                                <p class="dash-box-body">Type: {{ woodproject.type }}</p>
                                <p class="dash-box-body">Skill: {{ woodproject.skill_level }}</p>
                                <p>
                                    <a href="/woodproject/{{ woodproject.id }}" class="dash-box-body dash-txt-cta">View</a>
                                    {% if woodproject.user_id == session.user_id %}
                                        | <a href="/edit/{{ woodproject.id }}" class="dash-box-body dash-txt-cta">Edit</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>

            <div class="footer-container">
                <div>
                    <a href="/new" class="btn btn-success btn-footer">Add a New Project</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>